SistemaActas/SistemaActas/Connected Services/CompromisoService/ServiceVersionesCompromiso.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62288/ServiceVersionesCompromiso.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WS_Actas.Model" />
  <xs:element name="CrearVersionCompromiso">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fecha_compromiso" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id_compromiso" type="xs:int" />
        <xs:element minOccurs="0" name="id_estado" type="xs:int" />
        <xs:element minOccurs="0" name="anotacion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id_usuario_asignado" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearVersionCompromisoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerVersionesCompromisos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerVersionesCompromisosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WS_Actas.Model" minOccurs="0" name="ObtenerVersionesCompromisosResult" nillable="true" type="q1:ArrayOfVersionCompromiso" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerVersionCompromiso">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idVersionCompromiso" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerVersionCompromisoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WS_Actas.Model" minOccurs="0" name="ObtenerVersionCompromisoResult" nillable="true" type="q2:VersionCompromiso" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarVersionCompromiso">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_version_compromiso" type="xs:int" />
        <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fecha_compromiso" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id_compromiso" type="xs:int" />
        <xs:element minOccurs="0" name="id_estado" type="xs:int" />
        <xs:element minOccurs="0" name="anotacion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id_usuario_asignado" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarVersionCompromisoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEstados">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEstadosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WS_Actas.Model" minOccurs="0" name="ObtenerEstadosResult" nillable="true" type="q3:ArrayOfEstado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerVersionesDeCompromiso">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCompromiso" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerVersionesDeCompromisoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WS_Actas.Model" minOccurs="0" name="ObtenerVersionesDeCompromisoResult" nillable="true" type="q4:ArrayOfVersionCompromiso" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerUltimaVersionDeCompromiso">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCompromiso" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerUltimaVersionDeCompromisoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WS_Actas.Model" minOccurs="0" name="ObtenerUltimaVersionDeCompromisoResult" nillable="true" type="q5:VersionCompromiso" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>