SistemaActas/SistemaActas/Connected Services/UsuarioServices/ServiceUsuarios.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceUsuarios" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/Servicios/ServiceUsuarios.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/Servicios/ServiceUsuarios.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/Servicios/ServiceUsuarios.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WS_Actas.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceUsuarios_CrearUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearUsuario" />
  </wsdl:message>
  <wsdl:message name="IServiceUsuarios_CrearUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceUsuarios_ObtenerUsuarios_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerUsuarios" />
  </wsdl:message>
  <wsdl:message name="IServiceUsuarios_ObtenerUsuarios_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerUsuariosResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceUsuarios_ObtenerUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerUsuario" />
  </wsdl:message>
  <wsdl:message name="IServiceUsuarios_ObtenerUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceUsuarios_ActualizarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarUsuario" />
  </wsdl:message>
  <wsdl:message name="IServiceUsuarios_ActualizarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceUsuarios_AutenticarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:AutenticarUsuario" />
  </wsdl:message>
  <wsdl:message name="IServiceUsuarios_AutenticarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:AutenticarUsuarioResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceUsuarios">
    <wsdl:operation name="CrearUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceUsuarios/CrearUsuario" message="tns:IServiceUsuarios_CrearUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceUsuarios/CrearUsuarioResponse" message="tns:IServiceUsuarios_CrearUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerUsuarios">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceUsuarios/ObtenerUsuarios" message="tns:IServiceUsuarios_ObtenerUsuarios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceUsuarios/ObtenerUsuariosResponse" message="tns:IServiceUsuarios_ObtenerUsuarios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceUsuarios/ObtenerUsuario" message="tns:IServiceUsuarios_ObtenerUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceUsuarios/ObtenerUsuarioResponse" message="tns:IServiceUsuarios_ObtenerUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceUsuarios/ActualizarUsuario" message="tns:IServiceUsuarios_ActualizarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceUsuarios/ActualizarUsuarioResponse" message="tns:IServiceUsuarios_ActualizarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AutenticarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceUsuarios/AutenticarUsuario" message="tns:IServiceUsuarios_AutenticarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceUsuarios/AutenticarUsuarioResponse" message="tns:IServiceUsuarios_AutenticarUsuario_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceUsuarios" type="tns:IServiceUsuarios">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CrearUsuario">
      <soap:operation soapAction="http://tempuri.org/IServiceUsuarios/CrearUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerUsuarios">
      <soap:operation soapAction="http://tempuri.org/IServiceUsuarios/ObtenerUsuarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerUsuario">
      <soap:operation soapAction="http://tempuri.org/IServiceUsuarios/ObtenerUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarUsuario">
      <soap:operation soapAction="http://tempuri.org/IServiceUsuarios/ActualizarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AutenticarUsuario">
      <soap:operation soapAction="http://tempuri.org/IServiceUsuarios/AutenticarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceUsuarios">
    <wsdl:port name="BasicHttpBinding_IServiceUsuarios" binding="tns:BasicHttpBinding_IServiceUsuarios">
      <soap:address location="http://localhost/Servicios/ServiceUsuarios.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>