SistemaActas/SistemaActas/Connected Services/CompromisoServices/ServiceCompromisos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceCompromisos" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:62288/ServiceCompromisos.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:62288/ServiceCompromisos.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:62288/ServiceCompromisos.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WS_Actas.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceCompromisos_CrearCompromiso_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearCompromiso" />
  </wsdl:message>
  <wsdl:message name="IServiceCompromisos_CrearCompromiso_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearCompromisoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceCompromisos_ObtenerCompromisos_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerCompromisos" />
  </wsdl:message>
  <wsdl:message name="IServiceCompromisos_ObtenerCompromisos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerCompromisosResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceCompromisos_ObtenerCompromiso_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerCompromiso" />
  </wsdl:message>
  <wsdl:message name="IServiceCompromisos_ObtenerCompromiso_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerCompromisoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceCompromisos_ActualizarCompromiso_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarCompromiso" />
  </wsdl:message>
  <wsdl:message name="IServiceCompromisos_ActualizarCompromiso_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarCompromisoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceCompromisos_ObtenerUsuarioCompromiso_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerUsuarioCompromiso" />
  </wsdl:message>
  <wsdl:message name="IServiceCompromisos_ObtenerUsuarioCompromiso_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerUsuarioCompromisoResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceCompromisos">
    <wsdl:operation name="CrearCompromiso">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCompromisos/CrearCompromiso" message="tns:IServiceCompromisos_CrearCompromiso_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCompromisos/CrearCompromisoResponse" message="tns:IServiceCompromisos_CrearCompromiso_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerCompromisos">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCompromisos/ObtenerCompromisos" message="tns:IServiceCompromisos_ObtenerCompromisos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCompromisos/ObtenerCompromisosResponse" message="tns:IServiceCompromisos_ObtenerCompromisos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerCompromiso">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCompromisos/ObtenerCompromiso" message="tns:IServiceCompromisos_ObtenerCompromiso_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCompromisos/ObtenerCompromisoResponse" message="tns:IServiceCompromisos_ObtenerCompromiso_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarCompromiso">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCompromisos/ActualizarCompromiso" message="tns:IServiceCompromisos_ActualizarCompromiso_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCompromisos/ActualizarCompromisoResponse" message="tns:IServiceCompromisos_ActualizarCompromiso_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerUsuarioCompromiso">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCompromisos/ObtenerUsuarioCompromiso" message="tns:IServiceCompromisos_ObtenerUsuarioCompromiso_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCompromisos/ObtenerUsuarioCompromisoResponse" message="tns:IServiceCompromisos_ObtenerUsuarioCompromiso_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceCompromisos" type="tns:IServiceCompromisos">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CrearCompromiso">
      <soap:operation soapAction="http://tempuri.org/IServiceCompromisos/CrearCompromiso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerCompromisos">
      <soap:operation soapAction="http://tempuri.org/IServiceCompromisos/ObtenerCompromisos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerCompromiso">
      <soap:operation soapAction="http://tempuri.org/IServiceCompromisos/ObtenerCompromiso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarCompromiso">
      <soap:operation soapAction="http://tempuri.org/IServiceCompromisos/ActualizarCompromiso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerUsuarioCompromiso">
      <soap:operation soapAction="http://tempuri.org/IServiceCompromisos/ObtenerUsuarioCompromiso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceCompromisos">
    <wsdl:port name="BasicHttpBinding_IServiceCompromisos" binding="tns:BasicHttpBinding_IServiceCompromisos">
      <soap:address location="http://localhost:62288/ServiceCompromisos.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>