SistemaActas/SistemaActas/Connected Services/ActaServices/ServiceActas.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WS_Actas.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WS_Actas.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfActa">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Acta" nillable="true" type="tns:Acta" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfActa" nillable="true" type="tns:ArrayOfActa" />
  <xs:complexType name="Acta">
    <xs:sequence>
      <xs:element minOccurs="0" name="anotaciones" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fecha" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id_acta" type="xs:int" />
      <xs:element minOccurs="0" name="id_proyecto" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Acta" nillable="true" type="tns:Acta" />
  <xs:complexType name="ArrayOfVersionCompromiso">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VersionCompromiso" nillable="true" type="tns:VersionCompromiso" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVersionCompromiso" nillable="true" type="tns:ArrayOfVersionCompromiso" />
  <xs:complexType name="VersionCompromiso">
    <xs:sequence>
      <xs:element minOccurs="0" name="anotacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fecha_compromiso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id_compromiso" type="xs:int" />
      <xs:element minOccurs="0" name="id_estado" type="xs:int" />
      <xs:element minOccurs="0" name="id_usuario_asignado" type="xs:int" />
      <xs:element minOccurs="0" name="id_version_compromiso" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VersionCompromiso" nillable="true" type="tns:VersionCompromiso" />
</xs:schema>