SistemaActas/SistemaActas/Connected Services/ActaServices/ServiceActas.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceActas" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:62288/ServiceActas.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:62288/ServiceActas.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:62288/ServiceActas.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WS_Actas.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceActas_CrearActa_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearActa" />
  </wsdl:message>
  <wsdl:message name="IServiceActas_CrearActa_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearActaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceActas_ObtenerActas_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerActas" />
  </wsdl:message>
  <wsdl:message name="IServiceActas_ObtenerActas_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerActasResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceActas_ObtenerActa_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerActa" />
  </wsdl:message>
  <wsdl:message name="IServiceActas_ObtenerActa_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerActaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceActas_ActualizarActa_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarActa" />
  </wsdl:message>
  <wsdl:message name="IServiceActas_ActualizarActa_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarActaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceActas_ObtenerCompromisosPorActa_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerCompromisosPorActa" />
  </wsdl:message>
  <wsdl:message name="IServiceActas_ObtenerCompromisosPorActa_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerCompromisosPorActaResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceActas">
    <wsdl:operation name="CrearActa">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceActas/CrearActa" message="tns:IServiceActas_CrearActa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceActas/CrearActaResponse" message="tns:IServiceActas_CrearActa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerActas">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceActas/ObtenerActas" message="tns:IServiceActas_ObtenerActas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceActas/ObtenerActasResponse" message="tns:IServiceActas_ObtenerActas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerActa">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceActas/ObtenerActa" message="tns:IServiceActas_ObtenerActa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceActas/ObtenerActaResponse" message="tns:IServiceActas_ObtenerActa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarActa">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceActas/ActualizarActa" message="tns:IServiceActas_ActualizarActa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceActas/ActualizarActaResponse" message="tns:IServiceActas_ActualizarActa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerCompromisosPorActa">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceActas/ObtenerCompromisosPorActa" message="tns:IServiceActas_ObtenerCompromisosPorActa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceActas/ObtenerCompromisosPorActaResponse" message="tns:IServiceActas_ObtenerCompromisosPorActa_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceActas" type="tns:IServiceActas">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CrearActa">
      <soap:operation soapAction="http://tempuri.org/IServiceActas/CrearActa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerActas">
      <soap:operation soapAction="http://tempuri.org/IServiceActas/ObtenerActas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerActa">
      <soap:operation soapAction="http://tempuri.org/IServiceActas/ObtenerActa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarActa">
      <soap:operation soapAction="http://tempuri.org/IServiceActas/ActualizarActa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerCompromisosPorActa">
      <soap:operation soapAction="http://tempuri.org/IServiceActas/ObtenerCompromisosPorActa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceActas">
    <wsdl:port name="BasicHttpBinding_IServiceActas" binding="tns:BasicHttpBinding_IServiceActas">
      <soap:address location="http://localhost:62288/ServiceActas.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>