SistemaActas/SistemaActas/Connected Services/ProyectoServices/ServiceProyectos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceProyectos" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:62288/ServiceProyectos.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:62288/ServiceProyectos.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:62288/ServiceProyectos.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WS_Actas.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceProyectos_CrearProyecto_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearProyecto" />
  </wsdl:message>
  <wsdl:message name="IServiceProyectos_CrearProyecto_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearProyectoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceProyectos_ObtenerProyectos_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerProyectos" />
  </wsdl:message>
  <wsdl:message name="IServiceProyectos_ObtenerProyectos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerProyectosResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceProyectos_ObtenerProyecto_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerProyecto" />
  </wsdl:message>
  <wsdl:message name="IServiceProyectos_ObtenerProyecto_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerProyectoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceProyectos_ActualizarProyecto_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarProyecto" />
  </wsdl:message>
  <wsdl:message name="IServiceProyectos_ActualizarProyecto_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarProyectoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceProyectos_ObtenerActasPorProyecto_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerActasPorProyecto" />
  </wsdl:message>
  <wsdl:message name="IServiceProyectos_ObtenerActasPorProyecto_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerActasPorProyectoResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceProyectos">
    <wsdl:operation name="CrearProyecto">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceProyectos/CrearProyecto" message="tns:IServiceProyectos_CrearProyecto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceProyectos/CrearProyectoResponse" message="tns:IServiceProyectos_CrearProyecto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerProyectos">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceProyectos/ObtenerProyectos" message="tns:IServiceProyectos_ObtenerProyectos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceProyectos/ObtenerProyectosResponse" message="tns:IServiceProyectos_ObtenerProyectos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerProyecto">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceProyectos/ObtenerProyecto" message="tns:IServiceProyectos_ObtenerProyecto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceProyectos/ObtenerProyectoResponse" message="tns:IServiceProyectos_ObtenerProyecto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarProyecto">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceProyectos/ActualizarProyecto" message="tns:IServiceProyectos_ActualizarProyecto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceProyectos/ActualizarProyectoResponse" message="tns:IServiceProyectos_ActualizarProyecto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerActasPorProyecto">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceProyectos/ObtenerActasPorProyecto" message="tns:IServiceProyectos_ObtenerActasPorProyecto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceProyectos/ObtenerActasPorProyectoResponse" message="tns:IServiceProyectos_ObtenerActasPorProyecto_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceProyectos" type="tns:IServiceProyectos">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CrearProyecto">
      <soap:operation soapAction="http://tempuri.org/IServiceProyectos/CrearProyecto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerProyectos">
      <soap:operation soapAction="http://tempuri.org/IServiceProyectos/ObtenerProyectos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerProyecto">
      <soap:operation soapAction="http://tempuri.org/IServiceProyectos/ObtenerProyecto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarProyecto">
      <soap:operation soapAction="http://tempuri.org/IServiceProyectos/ActualizarProyecto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerActasPorProyecto">
      <soap:operation soapAction="http://tempuri.org/IServiceProyectos/ObtenerActasPorProyecto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceProyectos">
    <wsdl:port name="BasicHttpBinding_IServiceProyectos" binding="tns:BasicHttpBinding_IServiceProyectos">
      <soap:address location="http://localhost:62288/ServiceProyectos.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>